@model List<tasktServer.Models.SQL.Workers>
<html>
<head>

</head>
<body>
    <div class="panel panel-default" id="workforcePanel">
        <div class="panel-body">
            <div class="container">

                <h2>workforce</h2>
                <h4>view your taskt workforce at a glance and approve, disable, or enable robot workers as a part of your workforce.</h4>
                <hr />
                @if (Model.Count == 0)
                {

                    <h5>its awfully quiet in here! There are currently no bots connected.</h5>
                    <div class="alert alert-info">
                        <strong>Quick Tip:</strong> Connect your bots by setting 'wss://[ServerIP]:[Port]/ws' and selecting 'Connect' in the taskt desktop client.  Once you connect your bots, they will show here and must be approved before they can be used for task orchestration.
                    </div>
                }
                else
                {

                    <table class="table table-condensed">
                        <thead>

                            <tr>
                                <th></th>
                                <th data-toggle="tooltip" title="This is the name of the desktop machine running taskt">Machine Name</th>
                                <th data-toggle="tooltip" title="This is the name of the current desktop user">User Name</th>
                                <th data-toggle="tooltip" title="This is the last time a known ping was received from the machine">Last Contact</th>
                                <th data-toggle="tooltip" title="Ping the machine to see if it is alive">Ping</th>
                                <th data-toggle="tooltip" title="Manage the machine's access to the server">Manage</th>

                            </tr>

                        </thead>
                        <tbody>

                            @foreach (var robot in Model)
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="close" aria-label="Close" onclick="deleteWorkerEntry('@robot.PublicKey')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </td>
                                    <td data-toggle="tooltip" title="@robot.PublicKey"><a href="#" onclick="getLogsContinously('@robot.PublicKey')">@robot.MachineName</a></td>
                                    <td>@robot.UserName</td>
                                    <td>@robot.LastCommunicationReceived</td>
                                 
                                    <td><button type="button" class="close" aria-label="Close" onclick="pingWorker('@robot.PublicKey')"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button></td>               
                                    <td> <button class="btn btn-primary btn-sm" onclick="debugExecute('@robot.PublicKey')">Execute Task</button></td>
                                </tr>
                            }








                        </tbody>
                    </table>
                    <h5>@Model.Count known client(s)</h5>

                }




            </div>
        </div>
    </div>
</body>
</html>